@me screen and (max-width: 960px) {
    main img {
        grid-column: 2 /span 10;
    }
    main .welcome {
        grid-column: 3 / span 8;
        text-align: center;
    
    main .card {
        grid-column: 3 / span 8;
    }
    }
}